$color-dark-accent: #B48492;
$color-dark-shades: #3F607F;
$color-dark-shades-10: #304a63;
$color-light-accent: #7CBAAC;
$color-light-shades: #F2F3F2;
$color-main-brand: #D07331;
$color-main-10: #9e5724;